<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PDSPrimary" value="https://SXXXXSRS002.jcp.com/PaymentDeviceService/api/v1/" />
    <add key="PDSFailOver" value="https://SXXXXSRS001.jcp.com/PaymentDeviceService/api/v1/" />
    <add key="EnablePaymentEndPoint" value ="Payment/EnablePayment" />
	<add key="CheckPaymentEndPoint" value="Payment/AuthorizeCheckPayment"/>
    <add key="AuthorizePaymentEndPoint" value="Payment/AuthorizePayment"/>
    <add key="PostVoidPaymentEndPoint" value="Reversal/MarkTransactionForReversal"/>
	<add key="PairToDeviceEndPoint" value="DevicePairing/PairToDevice"/>
    <add key="LineDisplayEndPoint" value="PaymentDevice/LineDisplay"/>
	<add key="FailoverFalg" value="true"/>
    <add key="MasterCardTempAcount" value="546680" />
    <add key="AssociteIDForAuth" value="9911"/>
    <add key="GiftCardBin" value="600649"/>
	<add key="Debug" value="true"/>
	<add key="TokenKey" value="TkdQT1M6OHFEall2WVNRQmdkSnpCNDl4bzl0NThyczZXdW95M1c=" />
    <add key="IsIdentitytokenrequired" value="false"/>
    <add key="PrimaryIdentity" value="https://SXXXXSRS002.jcp.com/IdentityService/Authenticate/GenerateToken" />
    <add key="FailOverIdentity" value="https://SXXXXSRS001.jcp.com/IdentityService/Authenticate/GenerateToken" />
    <add key="IdentityTokenTimeout" value="165000"/>
    <add key="tokenFileName" value="token.txt"/>
	<add key="InvalidTerminals" value="101"/>	<!--comma delimited list-->
	<add key="Tenders" value="ZTAM|2,ZTDB|1,GK88|2,ZTMC|2,ZTVO|3,ZTDS|2,ZPLC|5,ZTVI|2,ZPLD|6"/>	  <!--comma delimited list of Tender|CardType-->
  </appSettings>
</configuration>